local.properties
.gradle/config.properties
.gradle/9.0.0/gc.properties
.gradle/9.0.0/checksums/checksums.lock
.gradle/9.0.0/fileChanges/last-build.bin
.gradle/9.0.0/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
.idea/.gitignore
.idea/AndroidProjectSystem.xml
.idea/gradle.xml
.idea/markdown.xml
.idea/migrations.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/caches/deviceStreaming.xml
build/reports/problems/problems-report.html
.gradle
.gradle/9.2.0/checksums/md5-checksums.bin
.gradle/9.2.0/checksums/sha1-checksums.bin
.gradle/9.2.0/fileHashes/fileHashes.bin
.gradle/9.2.0/fileHashes/fileHashes.lock
gradle
